.document-photo {
    width: 150px;
    height: 150px;
    border: 2px orangered solid;
    border-radius: 10px;
    cursor: pointer;
}

.modal-document-photo {
    width: 400px;
    height: 400px;
}

.scanned-text {
    white-space: pre-line;
}

.confirmation-text {
    color: seagreen;
}