.upload-container {
    border: 2px black solid;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: orange;
}

.uploaded-files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}